@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Poppins:wght@300;400;500;600;700&display=swap');
$primaryColor:#FFF;
$pinkColor:#F71963;
$fontColor:#3F3F40;
$productsFilterColor:#3B3B3B;
$categoryFontColor:#4E4E4E;
$footerColor:#2A2A2A;
$fontFamily:'Poppins', sans-serif;
$fontModal:'Lato', sans-serif;